<h3>List of Book starts with Letter {{letter}}</h3>
{{#each recs}}
<a href="/book/{{this.book_id}}">{{this.title}}</a><br>
{{/each}}

{{#if isFirstPage}}
<a href="">No previous Page</a>
{{else}}
<a href="/booklist?q={{letter}}&offset={{prevOffset}}">Previous Page</a><br>
{{/if}}

{{#if isLastPage}}
<a href="">No next Page</a>
{{else}}
<a href="/booklist?q={{letter}}&offset={{nextOffset}}">Next Page</a><br>
{{/if}}
